language: php

php:
  - 7.1
  - 7.2
  - 7.3

before_script:
  - composer install

script:
  - php vendor/bin/phpunit

after_success:
  - travis_retry php vendor/bin/coveralls --verbose

notifications:
  email: false
