<phpunit colors="true">
  <testsuites>
    <testsuite name="Test-WriteiniFile">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="coverage/coverage.xml"/>
  </logging>
</phpunit>
